@import '../../main/App.scss';

$lista-cor: $grad1,
$grad2,
$grad3,
$grad4;
$cont: 1;

@each $cor in $lista-cor {
    .bt#{$cont} {
        background-color: $cor;
        color: white;
        // line-height:  200%;
        // font-size: 2em;
        border-radius: 0.5em;
        border: solid 2px $cor;
    }

    .bt#{$cont}:hover {
        border: solid 2px $cor;
        color: $cor;
        background-color: $fundo;
    }

    $cont: $cont+1;
}
