@import '../../main/App.scss';

$lista-cor: $grad1,
$grad2,
$grad3,
$grad4;
$cont: 1;

@each $cor in $lista-cor {
    button.bt#{$cont} {
        background-color: $cor;
        color: white;
        line-height:  200%;
        font-size: 2em;
        border-radius: 1em;
        border: solid 4px $cor;
    }

    .bt#{$cont}:hover {
        border: solid 4px $cor;
        color: $cor;
        background-color: $fundo;
    }

    // .bt#{$cont}:hover {
    //     // background-image: $gradiente;
    //     color: white;
    //     background-size: 800% 800%;
    //     background: linear-gradient(270deg, #e535ab, #a219c4, #574bfd, #a4dfbc);
    //     -webkit-animation: AnimationName 17s ease infinite;
    //     -moz-animation: AnimationName 17s ease infinite;
    //     animation: AnimationName 17s ease infinite;
    // }

    // button.bt#{$cont}:hover {
    //     background: $gradiente;
    //     color: white;
    //     animation-name: fade-#{$cont};
    // animation-duration: .6s;
    // }
    
    // @keyframes fade-#{$cont} {
    //     from {
    //         background-color: $cor;
    //     }
    
    //     to {
    //         background: $gradiente;
    //     }
    // }

    $cont: $cont+1;
}
