@import '../../main/App.scss';

.cardp {
    // width: 25rem;
    margin: 7px;
    padding: 0.5%;
}

// .card-columns {
//     column-count: 4;
// }


.cardp:hover .card-img-top {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    animation-name: fade;
    animation-duration: .6s;
    opacity: 1;
}

.card-img-top {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.7;
    width: 100%;
}

@keyframes fade {
    from {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0.7;
    }

    to {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        opacity: 1;
    }
}

.card-body {
    opacity: 1;
    text-shadow: $shadow;
}


@media (max-width: 576px){
    // .card-columns {
    //     column-count: 3;
    // }

    .card-img-top {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        opacity: 1;
    }

    // .cardp {
    //     width: 15rem;
    //     margin: 2px;
    // }
}