@import '../../main/App.scss';

.logop {
    width: 10%;
    margin: 1% 4%;
    display: inline-block;
}

@media (max-width: 576px){
    .logop {
        width: 13%;
        margin: 1% 4%;
        display: inline-block;
    }
}